/*@tailwind base;

@tailwind components;

@tailwind utilities;

Attempt at complex spinning menu button, want to revisit

module.exports= {
    theme: {
        screens: {
            sm: '480px',
                md: '768px',
                lg: '976px',
                xl: '1440px',
        }

        ,
        colors: {
            'blue': '#1fb6ff',
                'purple': '#7e5bef',
                'pink': '#ff49db',
                'orange': '#ff7849',
                'green': '#13ce66',
                'yellow': '#ffc82c',
                'gray-dark': '#273444',
                'gray': '#8492a6',
                'gray-light': '#d3dce6',
        }

        ,
        fontFamily: {
            sans: ['Graphik', 'sans-serif'],
                serif: ['Merriweather', 'serif'],
        }

        ,
        extend: {
            spacing: {
                '128': '32rem',
                    '144': '36rem',
            }


            borderRadius: {
                '4xl': '2rem',
            }
        }
    }
}
/*Menu Button*/
/*
.menuButton {
    backgound-image: ./assets/belizeCoinHeadssmol.png;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;
    text: MENU;
    color: white;
}

/*
menuCoin rotate $coin-diameter: 133px;
$coin-thickness: 20px;
$coin-color: 808080;
// menuCoin
$coin-front: "belizeCoinHeadssmol.png";
$coin-back: "belizeCoinTails.png";
$edge-faces: 80;
$edge-face-length: 3.14*$coin-diameter/$edge-faces;
$turn-time: 8s;

.coin {
    position: relative;
    width: $coin-diameter;
    height: $coin-diameter;
    margin: 50px auto;
    transform-style: preserve-3d;
    animation: rotate3d $turn-time linear infinite;
    transition: all .3s;
}

.coin__front,
.coin__back {
    position: absolute;
    width: $coin-diameter;
    height: $coin-diameter;
    border-radius: 50%;
    overflow: hidden;
    background-color: $coin-color;

    &:after {
        content: "nav bar";
        position: absolute;
        left: -$coin-diameter/2;
        bottom: 100%;
        display: block;
        height: $coin-diameter/1.5;
        width: $coin-diameter*2;
        background: #fff;
        opacity: 0.3;
        animation: shine linear $turn-time/2 infinite;
    }
}

.coin__front {
    background-image: ./assets/belizeCoinHeadssmol.png;
    background-size: cover;
    transform: translateZ($coin-thickness/2);
}

.coin__back {
    background-image: ./assets/coin1.jpeg;
    background-size: cover;
    transform: translateZ(-$coin-thickness/2) rotateY(180deg);
}

.coin__edge {
    @for $i from 1 through $edge-faces {
        div:nth-child(#{$i}) {
            position: absolute;
            height: $edge-face-length;
            width: $coin-thickness;
            background: darken($coin-color, (($i - $edge-faces/2) * ($i - $edge-faces/2)) / ($edge-faces*$edge-faces/4) * 100 * 0.7);
            transform: translateY(#{$coin-diameter/2-$edge-face-length/2}) translateX(#{$coin-diameter/2-$coin-thickness/2}) rotateZ(360deg/$edge-faces*$i+90) translateX(#{$coin-diameter/2}) rotateY(90deg);
        }
    }
}

.coin__shadow {
    position: absolute;
    width: $coin-diameter;
    height: $coin-thickness;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 $coin-thickness*5 $coin-thickness*5 #000;
    opacity: 0.125;
    transform: rotateX(90deg) translateZ(-$coin-diameter*1.1) scale(.5);
}

@keyframes rotate3d {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes shine {

    0%,
    15% {
        transform: translateY($coin-diameter*2) rotate(-40deg);
    }

    50% {
        transform: translateY(-$coin-diameter) rotate(-40deg);
    }
}*/

/*menuCoin transform drop and nav reveal
nav bar
ul {
    list-style-type: none;
    margin: 0;
    padding: 12;
    width: 200px;
    background-color: #571f4e;
    border: 1px solid #555;
    height: 100%;
    /* Full height */
position: fixed;
/* Make it stick, even on scroll */
/*overflow: auto;*/
/* Enable scrolling if the sidenav has too much content */
/*
}


li a {
    display: block;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

/* Change the link color on hover */
/*
li a:hover {
    background-color: #555;
    color: whitesmoke;
}

.active {
    background-color: #92c9b1;
    color: whitesmoke;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
*/

/*Active CSS*/

element.style {}

/* background color to topnav */
.topnav {
    background-color: #571f4e;
    overflow: hidden;
}

/*style*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*style hover*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*current page highlight*/
.topnav a.active {
    background-color: #EBF5EE;
    color: #808080;
}

/*Hide small/large nav*/
.topnav .icon {
    display: none;
}

/*
@media (min-width: 992px) .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em-1em;
    background: #571f4e;
    border-bottom: 1 px dashed;
    z-index;
    9;
    align-items: center;
}

* {
    box-sizing: border-box;
}

/*Body*/
body {
    color: #808080;
    background: whitesmoke;
    font-family: "Montserrat", "sans-serif";
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.0;
}

footer {
    background: linear-gradient (to bottom left, #571f4e, whitesmoke);
}